@model HotellWebMvc.ViewModels.AuthLogin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">


    <h2>Hotel Booking</h2>
    <p>
        Please log in to use our amazing hotel booking services that
        will not strip you from all your cash at all. We promise.
    </p>

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.EditorFor(x => x.Email)
        </div>

        <div>
            @Html.LabelFor(x => x.Password)
            @Html.EditorFor(x => x.Password)
        </div>

        <div>
            <input class="btn btn-success" type="submit" value="Login" />
        </div>
    }
</div>

<div class="col-md-6">
    <h3>Or register</h3>
    <p>As a new guest you'll get tons of special offers without any sort of spam*(May contain traces of spam)</p>
    <div>
        @*<!-- @Html.Partial("../Registration/Register")*@

        <a href="@Url.RouteUrl("Registration")" class="btn btn-primary">Register</a>
    </div>

</div>