@model HotellWebMvc.ViewModels.BookingIndex

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the inside</h2>
<p>You are now logged in, @User.Identity.Name</p>


<!-- Display bookable rooms with options -->

<div class="col-md-12">

    <h4>Make reservation</h4>

    <form method="get" action="Booking">

        <label>From:</label>
        <input type="date" name="checkIn" required />

        <label>To:</label>
        <input type="date" name="checkOut" required />

        <p></p>

        <label>Room quality</label>
        <select name="quality">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label>Number of beds</label>
        <select name="beds">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button class="btn btn-info" type="submit">Check availability</button>
    </form>
</div>


<!-- List selected rooms -->

<div class="col-md-12 bookingResultList">
    @Html.Partial("Booking")
</div>



<!-- List previously booked rooms if any exists -->

<div class="col-md-12 listExistingReservations">
    <h3>Reservations</h3>
    @if (Model.Bookings.ToList().Count > 0)
    {
        <table style="width:70%">
            <tr>
                <th>Check in date</th>
                <th>Check out date</th>
                <th>Quality</th>
                <th># of beds</th>
            </tr>
            @foreach (var booking in Model.Bookings)
            {
                <tr>
                    <td>@booking.checkInDate.ToShortDateString() </td>
                    <td>@booking.checkOutDate.ToShortDateString() </td>
                    <td>@booking.Room.quality</td>
                    <td>@booking.Room.bed</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>You do not currently have any reservations.</p>
    }
</div>

<a class="logoutbtn btn btn-danger" href="@Url.RouteUrl("Logout")">
    <i class="glyphicon glyphicon-log-out">
    </i> Logout
</a>

